body{
    margin: 0px;
    padding: 0px;
}
div > p:nth-child(odd){
color:#0099ff;
}
div > p{
    background-color: brown;
    display: inline;
}
.box{
    width: 100px;
    height: 100px;
    background-color: #333;
    margin: 20px;
    border-radius: 5px;
    float: right;
}
.style1{
    background-color:red;
    padding: 10px;
}
.style2{
    background-color:green;
}
.style3{
    background-color: yellow;
}
input{
    display: block;
    margin: 10px;
    border-radius: 5px;
}